*{
    margin: 0;
}
#parent{
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
/* 
px->是螢幕上的點pixel
vw/vh:100vw->站螢幕100%的寬 50%的高
justify-content: center是main axis 的 center
                : flex-end/start
align-items 是second axis 的 center
            : flex-end/start
總共有9種可能
*/
}
#child{
    background: yellow;
    width: 200px;
    height: 200px;
    margin: 30px;

}




/* 
.blue{
    background: blue;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-style: oblique;
    width: 200px;
     height: 200px;
     
}
.yellow{
    background: yellow;
    display: inline;
}
body{
    background-image: none;
    background: plum;
}

.newnewlayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.newnewlayout div{
    background: red;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border: 2px solid black;
    margin: 30px;
}
 */