body {
    background: linear-gradient(100deg, #96fbc4 0%, #f9f586 100%);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: white;
    width: 400px;
    margin: 100px auto;
    padding: 10px 100px;
    border-radius: 30px;
}

.todo-list-title {
    position: relative;
    left: -20px;
    font-weight: 700;
    font-size: 32px;
}

.inner-wrapper {
    margin: 0 auto;
    /*致中*/
    max-width: 350px;
    width: 100%;
}

.input-wrapper {
    border-radius: 20px;
    background: #EEEFF0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 424px;
}
.input-wrapper input{
    background: transparent;
    border: 0px;
    flex: 1;
}
.inner-wrapper button{
    background: #359AFF;
    border: 0px;
    color: white;
    font-size: 14px;
    padding: 10px 13px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}
.list{
    list-style: none;
    padding: 0; /*靠左*/
}

.list li{
    vertical-align: middle;
    font-weight: 400;
    padding: 5px;
    position: relative;
}
.list li.checked{
    text-decoration: line-through;
}
.list li::before{
    content:'';
    display:inline-block ;
    width: 24px;
    height: 24px;
    background-image: url('unchecked.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    padding: 2px;

}
.list li.checked::before{
    background-image: url('checkbox.png');
}

.delete{
    background-image:url('remove.png') ;
    border-radius: 25px;
    padding: 5px;
    background-position: center;
    object-fit: cover;
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
}